<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
</head>


<body class="vouchers">
 <div class="ui secondary  menu">
  <a class="active item" id="vouchers">
    Home
  </a>
  <a class="item" id="vouchers">
    Promotion
  </a>
  <a class="item" id="vouchers">
    About us
  </a>
  <div class="right menu">
    </div>
    <a class="ui item" id="vouchers">
      Logout
    </a>
  </div>

<div class="ui success message">
  <i class="close icon"></i>
  <div class="header">
    {{message}}
  </div>
</div>

<div id="box">
  <div id="innerbox">
    <div class="ui text" id="description">
      <p>Tally your vouchers with Tallify and don't let another one expires on you!</p>
      <br>
        <div id="add_voucher">
          <a href="/vouchers/new" class="ui red mini button" id="add_voucher"> Add a new voucher
          </a>
    </div>
  </div>
</div>
</div>

<div class="ui two column cards" id="columngrid">
  {{#each array}}
  <div class="card" >
    <div class="content">
      <img class="left floated mini ui avatar image" src="{{this.company_image}}">
      <div class="right floated header">
        ${{this.value}}
      </div>
      <div class="meta">
        Voucher No: {{@index}} 
      </div>
      <div class="description">
        <div id="issuer">
          <span><b>Issuer:</b></span> 
          <span>{{this.company_name}}</span>
        </div>
        <div id="expirydate">
          <span><b>Expiry Date</b>: 
          </span> {{this.expiry_date}}
        </div>
        <div id="vouchertype">
          <span><b>Type of Voucher:</b>
          </span>
        </div>
      </div>
      <br>
        <div class="ui red bottom mini attached button">
      <i class="minus icon"></i>
      Used
        </div>
      </div>
    </div>
    
    {{/each}}
  </div>
</div>


	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
	<script> $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>


</body>
</html>