<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>


<body class="vouchers">
 <div class="ui secondary  menu">
  <a class="active item" id="vouchers">
    Home
  </a>
  <a class="item" id="vouchers">
    Promotion
  </a>
  <a class="item" id="vouchers">
    About us
  </a>
  <div class="right menu">
    </div>
    <a class="ui item" id="vouchers">
      Logout
    </a>
  </div>

<div class="ui success message">
  <i class="close icon"></i>
  <div class="header">
    {{message}}
  </div>
</div>


<div id="box">
  <span> Hi {{name}}, any {{message2}} voucher to tally today?</span>
  <a class="circular yellow small ui icon button" href="/vouchers/new"><i class="plus icon"></i></a>
</div>
<div class="ui container">
  <div class="ui four column grid">
    {{#each array}}
    <div class="ui raised card">
      <div class="content">
        <div class="header">Voucher No: {{@index}} </div>
        <div class="meta">
          <div class="category">Issuer: {{this.company_name}}</div>
          <div class="category">Value: ${{this.value}}</div>
          <div class="category">Expiry Date: {{this.expiry_date}}</div>
        </div>
        <div class="description">
        </div>
      </div>
      <div class="extra content">
             <div class="left floated author">
            <button class="ui yellow tiny button">Redeemed
            </button>
          </div>
        <div class="right floated author">
          <img class="ui avatar image" src="{{this.company_image}}"> 
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
	<script> $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>

</body>
</html>